page-non-appointment {
    .form1{
        width: 100%;
        border: 2px solid skyblue;
        margin-bottom: 10px;
    }
    .list-md .item-block{
        border-bottom: 2px solid skyblue;
    }

    .col {
        padding: 10px;
    }
    .label-md{
        margin: 0;
    }
}
